/* Custom scrollbar styles */
.custom-scrollbar {
  scrollbar-width: thin;  /* For Firefox */
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;  /* For Chrome, Safari, and Opera */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}
