    .btn {
      @apply px-4 py-2 rounded;
    }
    .btn-primary {
      @apply bg-black text-white hover:bg-black;
    }
    .btn-secondary {
      @apply bg-black text-white hover:bg-black;
    }
    .btn-danger {
      @apply bg-black text-white hover:bg-black;
    }
    .btn-info {
      @apply bg-black text-white hover:bg-black;
    }
    .btn-success {
      @apply bg-black text-white hover:bg-black;
    }
    .badge {
      @apply px-2 py-1 rounded text-sm;
    }
    .badge-info {
      @apply bg-blue-100 text-blue-800;
    }
    .message {
      @apply px-4 py-2 rounded mt-4;
    }
    .success {
      @apply bg-green-100 text-green-800;
    }
    .error {
      @apply bg-red-100 text-red-800;
    }

    .custom-scrollbar {
        scrollbar-width: none;  /* For Firefox */
        -ms-overflow-style: none;  /* For Internet Explorer and Edge */
      }
      
      .custom-scrollbar::-webkit-scrollbar {
        display: none;  /* For Chrome, Safari, and Opera */
      }


.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
